<div id="video">

  <div class="title-box">
    <h1 id="title">WEATHER</h1>
    <div class="search-form">
      <input placeholder="Enter a city" type="text" id="query" name="query">
    </div>

    <div class="app-window">
    <div class="cities">
    </div>
    <div class="carousel-container">
      <div class="forecast-box">
      </div>
    </div>
  </div>

  </div>

</div>